/*THIS CSS DOCUMENT INCLUDES ALL GENERAL INFORMATION*/

:root {
    --blue: rgb(51, 0, 153);
}

body {
    margin: 0;
    background-color: rgb(204,238,247);
}

#logo{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 5%;
    cursor: pointer;
}

main {
    margin: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#standardVisible {
    display: block;
}

#showEditModeTxt {
    position: absolute;
    top: 2%;
    left: 1%;
    color: orangered;
    font-weight: bold;
}

#mainHeading {
    position: absolute;
    top: 15%;
    margin-left: 0px;
}

#averageAllSubjectsDiv {
    cursor: pointer;
    position: absolute;
    top: 15%;
    height: 100px;
    width: 100px;
    left: 45%;
    right: 45%;
    text-align: center;
    z-index: 1;
    font-size: xx-large;
    font-weight: bolder;
    background-color: grey;
    border-radius: 100%;
    color: white;
}

#averageAllSubjects {
    position: relative;
    top: 30%;
}

#statisticsBtn {
    color: var(--blue);
    cursor: pointer;
    border: 2px solid var(--blue);
    font-size: larger;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 30%;
    margin-left: 5px;
}

#statisticsBtn:hover {
    text-decoration: none;
}

#editGradesBtn {
    border: 2px solid grey;
    position: fixed;
    padding: 10px;
    right: 5%;
    top: 5%;
    font-size: xx-large;
    width: 70px;
    height: 70px;
    cursor: pointer;
    color: grey;
}

#editGradesBtn:hover {
    color: var(--blue);
}

/*Following the HTML-document, there should be css-code for the table at this position. Please see table.css for that code*/

#editModeDiv {
    display: none;
}

/*editSubjects.css*/

#informationDiv {
    text-align: center;
    position: fixed;
    z-index: 5;
    top: 15%;
    bottom: 80%;
    right: 30%;
    left: 30%;
    background-color: inherit;
    color: green;
    font-weight: bold;
    display: none;
    border: none;
}

#information {
    height: 80%;
    position: relative;
    top: 10%;
    bottom: 10%;
}

#overlayDiv {
    background-color: rgba(100, 100, 100, 0.7);
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 3;
    display: none;
}

#standardInformation {
    display: block;
}